*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    background:#08243e;
   display: flex;
   align-items: center;
   justify-content: center;
}
.App{
    width: 80%;
   
}
.setOptions{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_img{
    display: flex;
  
    justify-content: center;
    align-items: center;
    
  
  
    
   
    
}
